@import 'keyframes.scss';

.AboveTheFold {
  &,
  &-moon,
  &-myWorkButtonWrapper {
    position: relative;
  }
  &,
  &-moonWrapper {
    height: 100vh;
  }
  &,
  &-headshotWrapperAndText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &,
  &-moonWrapper,
  &-headshotWrapperAndText,
  &-headshot,
  &-title {
    width: 100%;
  }


  &-myName,
  &-jobTitle,
  &-greetingLineOne,
  &-greetingLineTwo,
  &-greetingLineThree,
  &-myWorkButtonWrapper,
  &-headshot {
    opacity: 0;
  }
  &-moonWrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-moon {
    width: 255px;
    height: auto;
    border-radius: 100%;
    animation: moveMoonCloser 20s ease-in-out forwards;
    z-index: 1;
  }
  &-headshotWrapperAndText {
    position: absolute;
    height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &-greetingLineOne,
  &-greetingLineTwo,
  &-greetingLineThree,
  &-myWorkButtonWrapper {
    animation: fadeIn 3s forwards;
  }


  &-greetingLineOne {
    animation-delay: 1s;
  }
  &-greetingLineTwo {
    width: 250px;
    animation-delay: 2s;
  }
  &-greetingLineThree {
    animation-delay: 3s;
  }
  &-myWorkButtonWrapper {
    animation-delay: 3.5s;
  }
  &-greetingLineOne,
  &-greetingLineThree,
  &-myWorkButtonWrapper,
  &-moonWrapper,
  &-textSectionWrapper,
  &-myName,
  &-jobTitle {
    text-align: center;
  }
  &-greetingLineOne,
  &-greetingLineThree {
    color: #fcfcfc;
    font-size: 30px;
    padding-bottom: 16px;
  }
  &-greetingLineThree {
    padding-top: 20px;
  }
  &-headshot {
    max-width: 400px;
    animation: fadeIn 3s forwards;
    animation-delay: 6s;
  }
  &-myWorkButtonWrapper:hover {
    cursor: pointer;
  }
  &-myWorkButton {
    padding: 19px 41px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    margin: 12px 0;
    border: none;
    color: black;
    z-index: 1000;
    background-color: #ffe600;
    margin-top: 33px;
  }
  &-buttonDecoration {
    width: 57%;
    position: absolute;
    top: 25px;
    left: 51px;
  }
  &-myName,
  &-jobTitle,
  &-greetingLineOne,
  &-greetingLineThree {
    font-family: 'Poppins';
  }
  &-myName, &-jobTitle {
    color: #fcfcfc;
    font-size: 36px;
  }
  &-myName {
    animation: fadeIn 3s forwards;
    animation-delay: 11s;
    margin-top: 12px;
    font-weight: bold;
    color: #F0FE75;
    font-size: 60px;
  }
  &-jobTitle {
    animation: fadeIn 3s forwards;
    animation-delay: 12s;
    font-size: 28px;
  }
  &-title {
    text-align: center;
    display: none;
  }
  &-fire, &-fireAlt {
    width: 20px;
    height: 30px;
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
    animation: fireAnimation 1.5s infinite;
  }
  &-fireAlt {
    animation: fireAnimationAlt 1.2s infinite;
    left: 50%;
  }
  &-bullet {
    width: 5px;
    height: 9px;
    border-radius: 100% 100% 0% 0%;
    background-color: #fcfcfc;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }


@media screen and (min-width: 800px) {
  &-greetingLineOne, &-greetingLineThree {
    font-size: 34px;
  }
  &-greetingLineTwo {
    width: 350px;
  }
  &-headshot {
    width: 450px;
  }
  &-buttonDecoration {
    width: 45%;
    position: absolute;
    top: 25px;
    left: 89px;
  }
}


  @media screen and (min-width: 1030px) {
    &-buttonDecoration {
      width: 32%;
      position: absolute;
      top: 25px;
      left: 160px;
    }
    &-textSectionWrapper {
      text-align: left;
      padding-left: 74px;
    }
    &-headshotWrapperAndText {
      flex-direction: row;
      justify-content: space-between;
    }
    &-greetingLineOne,
    &-greetingLineThree,
    &-myWorkButtonWrapper {
      text-align: left;
    }
    &-buttonDecoration {
      left: -6px;
    }
    &-headshot {
      width: 661px;
      padding-top: 37px;
      max-width: 100%;
    }
    &-greetingLineTwo {
      width: 100%;
    }
  }


}





