@import 'above_the_fold.scss';
@import 'projects.scss';
@import 'keyframes.scss';
@import 'footer.scss';
@import 'space.scss';

html, body, div, p, ul, li, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  background: black;
}








